.user-account-wrapper {
    padding: 20px;
    background: linear-gradient(to right, rgba(33, 37, 41, 0.8), rgba(101, 117, 161, 0.64));
    border-radius: 10px;
    margin-top: -48px; /* Adjust this value to match the height of your navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    color: white;
}

.user-page-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, rgba(37, 46, 62, 0.91), rgba(101, 117, 161, 0.76));
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-title-subtitle-container {
    text-align: center;
}

.user-page-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ideas-link-button {
    margin-left: 20px;
}

.btn-outline-primary {
    --bs-btn-color: #0e0f10;
    background: white;
}

.user-page-subtitle {
    margin-top: 6px;
    font-size: 1em;
    color: #ffffff;
    text-align: left;
}

.user-achievements{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(255, 0, 0, 0.62);
}

.user-ideas,
.user-reports,
.top-contributors {
    margin-top: 40px;
    background: rgba(187, 209, 235, 0.91);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-ideas-title,
.user-reports-title,
.top-contributors-title {
    height: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #010f1f, rgba(42, 82, 152, 0.67)); /* Modern gradient background */
    border-radius: 10px;
    font-family: "Playwrite IT Moderna", cursive;
}

.user-ideas-table-wrapper,
.user-reports-table-wrapper,
.top-contributors-table-wrapper {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 40px;
}

.user-ideas-table,
.user-reports-table,
.top-contributors-table {
    width: 97%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures that long words break properly */
    word-wrap: break-word; /* Ensures that long words break properly */
    margin-left: 10px;
}

.user-ideas-table th,
.user-reports-table th,
.top-contributors-table th {
    padding: 10px;
    border: 2px solid rgba(1, 15, 31, 0.43);
    text-align: center;
    font-size: 1.1rem;
    background: rgba(33, 37, 41, 0.79);
    color: white;
    word-break: break-word; /* Ensures that long words break properly */
    overflow-wrap: break-word; /* Ensures that long words break properly */
}

.user-ideas-table td,
.user-reports-table td,
.top-contributors-table td {
    color: black;
    padding: 10px;
    border: 2px solid rgba(1, 15, 31, 0.43);
    font-size: 1rem;
    word-break: break-word; /* Ensures that long words break properly */
    overflow-wrap: break-word; /* Ensures that long words break properly */
}

.user-ideas-thead,
.user-reports-thead,
.top-contributors-thead {
    background: rgba(33, 37, 41, 0.79);
    color: white;
}

.like-click,
.rating-click{
    cursor: pointer;
    color: #0970d6;
}

.loading {
    display: flex;
    color: #ea7a7a;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

.user-reports-container {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-contributors-list {
    color: rgb(209, 211, 216);
    padding: 10px;
    text-align: left;
}

.trophy-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.qr-code-container {
    text-align: center;
}
.qr-code-container img {
    max-width: 100%;
    height: auto;
}

.button-2FA {
    margin-top: 20px;
}
