/* src/RegisterStyles.css */

/* Custom RegisterComponent Styles */
.register-container {
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(233, 237, 241, 0.69);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: black;
    border-style: solid;

}

.register-btn {
    width: 100%;
}

.register-form-group {
    margin-bottom: 1rem;
}

.register-form-control {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    border-color: black;
    border-style: double;
}

.register-btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 1rem;
}

.register-link a {
    color: gray;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.register-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black;
}

.register-email-head {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.register-password-head {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.register-fullname-head {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.register-type-head {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.register-form-group {
    margin-top: 15px;
    color: rgba(1, 15, 31, 0.43);
}

#terms {
    margin-right: 10px;
}

.lecturer-contact {
    color: rgba(224, 11, 72, 0.87);
    margin-top: 10px;
    text-align: center;
}

.lecturer-contact a {
    color: #007bff;
    text-decoration: underline;
}

.lecturer-contact a:hover {
    color: #0056b3;
}


